@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 10 px;
    color: #333;
    text-transform: capitalize;
    text-decoration: none;
    background: linear-gradient(rgb(255, 214, 214), white);
}

input:focus {
    outline: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 0 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    height: 30px;
    display: flex;
    align-items: center;

}


nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    display: block;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px;
}

nav a:hover {
    color: #ff0000;
}

nav a.active {
    color: #ff0000;
}

nav img {

    width: 5%;
    padding: 3px 2px;
}


.logo h1 {
    display: block;
    font-size: 18px;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;

    padding: 20px;
}


#login-options {
    position: fixed;
    top: 15%;
    right: 2px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#login-options.show {
    right: 50px;
    transition: right 0.5s ease-in-out;
}

#user-login-btn,
#vendor-login-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateX(100%);
    animation: slide-in 0.5s ease-in-out forwards;
}

#user-login-btn:hover,
#vendor-login-btn:hover {
    background-color: #ffffff;
    color: #ff0000;
    cursor: pointer;
}

#user-login-btn {
    animation-delay: 0.2s;
}

#vendor-login-btn {
    animation-delay: 0.4s;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.banner {
    background-image: url('../image/hand.jpg'), linear-gradient(#000000, #d6d6d6) !important;
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    font-size: 48px;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin: 0;
}

.banner p {
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 5px rgb(255, 255, 255);
    margin: 20px 0 0 0;
}
.banner form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner input[type="text"],
.banner select,
.banner input[type="date"],
.banner input[type="submit"] {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: 0px;
    margin: 50px 5px;
    border-radius: 4px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    width: auto;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #555;
}

input[type="date"]::placeholder {
    color: #555;
}

input[type="submit"] {
    background-color: red;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: white;
    color: red;
}


.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
}

.about-text {
    flex: 1;
    margin-right: 50px;
}

.about-text p {
    flex: 1;
    font-size: small;
    text-align: justify;
    margin-right: 50px;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    height: auto;
}


.contact {
    background-color: #f7f7f7;
    padding: 50px;
    text-align: center;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.contact form {
    display: inline-block;
    text-align: left;
    width: 100%;
    max-width: 500px;
}

.contact label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    width: 100%;
    padding: 10px;
    font-size: 13px;
    border-radius: 4px;
    border: none;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.contact textarea {
    height: 50px;
}

.contact input[type="submit"] {
    background-color: #ff0000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

footer p {
    margin: 0;
}

.service-content {
    display: flex;
    margin-top: 10px;
}

.service-page .heading {
    margin-top: 100px;
    margin-left: 40%;
}

.col h1 {
    margin: 0 50px;
    margin-left: 45%;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}


.container {
    display: flex;
    margin: 3% 2%;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 250px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s;
    background-color: white;
}

.card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-10px);
    transition: 0.5s;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 5px;
}

.card h3 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
}

.card p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2px;
    font-size: 12px;
}

.button {
    display: inline-block;
    background-color: #f44336;
    color: #fff;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

.button:hover {
    background-color: #ff6666;
}


.offer h1 {
    font-size: 25px;
    margin: 0;
    margin-left: 40%;
    font-family: 'Poppins', sans-serif;
}

.offer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 500px;
    margin: 70px 60px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
}

.offer-card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-10px);
}

.offer-card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-bottom: 5px;
}

.offer-card h3 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
}

.offer-card p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 768px) {
    .card {
        width: 48%;
    }
}


.vendor .header .nav ul {
    margin: 5% 8%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    align-items: center;

}

.vendor .header .nav ul li a {
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 20px;
}

.vendor .header .nav ul li a.active {
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #ff0000;
    border-bottom: 1px solid red;

}


.vendor h1 {
    text-align: center;
    margin-top: 70px;
    color: #333;
    font-family: 'Poppins', sans-serif;

}

.vendor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    max-width: 1000px;
}

.vendor-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
    padding: 20px;
    position: relative;
    transition: all 0.3s ease-in-out;
    width: 250px;

}

.vendor-card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-10px);
}

.vendor-card img {
    border-radius: 5px;
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.vendor-card h2 {
    color: #333;
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.vendor-card p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.vendor-card span {
    background-color: #333;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin-top: 20px;
    padding: 5px 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    font-family: 'Poppins', sans-serif;
}

.vendor-card button {
    display: inline-block;
    background-color: #f44336;
    color: #fff;
    padding: 3px 8px;
    border-radius: 5px;
    margin: 0 35%;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
    outline: none;

}














.dropdown {
    position: relative;
  }
  
  .dropdown-toggle {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .dropdown-toggle:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
  }
  .dropdown-toggle :enabled {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    background-color: red;
    border: 1px solid white;
    border-radius: 5px;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .dropdown-menu a:hover {
    background-color: white;
    color: red;
  }
  
  .show {
    display: block;
  }
  